/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  background-size: auto 100vh; 
  font-family: 'Bitter', serif;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
   
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle, 
.site-title {
  text-align: center;
}

.site-title {
  font-size: 24px;
  font-family: 'Bitter', serif;;
}

.site-subtitle {
 color: grey;
 font-family: 'Open Sans', sans-serif;
 font-size: 18px;
 line-height: 1.8em;
}

.media {
  border-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: underline;
}

.favicon {
  align-content: middle;
  margin: 0 0 8px 0;
  height: 1.5rem;
  width: 100px;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Bitter', serif;
  color: black;
  margin-bottom: 1.5em;
  font-size: 20px;
}

.sobre p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}



.avatar {
  background-size: cover;
  border-radius: 50%;
  display: block;
  height: 200px;
  margin-bottom: 16px;
  position: relative;
  width: 200px;
}

.sobre {
  margin-left: 2em;
}

@media (min-width: 600px) {
  .sobre .avatar {
    float: right;
  }
}


.portfolio .grid {
  display: grid;
  gap: 5em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

figcaption {
  padding: 8px;
  text-align: center;
}

.flip-card {
  height: 200px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.card-back {
  display: flex;
  align-items: center;
  font-size: 17px;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 250px;
  width: 250px;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: justify;
}

.img-portfolio {
  height: 250px;
  width: 250px;
  object-fit: fill;
  object-position: center;
  transition: transform 500ms;
}

